{% extends "base.html" %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}
    <h1>{{ post.author.username }}</h1>
    <br/>
    <div class="card mb-3" style="background-color: azure;">
        <div class="row g-0">
            <img src="{% static '/myproject/images/profile_image.png' %}" class="fixed-image" style="width: 120px; height: 110px;" alt="Profile Image">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ user.first_name }} {{user.last_name }}</h5>
                    <p><strong>Età:</strong> {{ user.profile.età }}</p>
                    <p><strong>Città:</strong> {{ user.profile.città }}</p>
                    <p><strong>Hobby:</strong> {{ user.profile.hobby }}</p>
                    <h1>{{post.author}}</h1>

                    {% if user.profile.website_url %}
                        <a href="{{ user.profile.website_url }}">Website</a>
                    {% endif %}

                    {% if user.profile.facebook_url %}
                        <a href="{{ user.profile.facebook_url }}">Facebook</a>
                    {% endif %}

                    {% if user.profile.instagram_url %}
                        <a href="{{ user.profile.instagram_url }}">Instagram</a>
                    {% endif %}

                    <hr>

                    <h4>About me...</h4>
                    <p>{{ user.profile.bio }}</p>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <p>You're not allowed here!</p>
{% endif %}

{% endblock %}
